# Include built artifacts explicitly
!client/dist/**
!server/out/**
!syntaxes/org.tmLanguage.json
!syntaxes/org.configuration.json

# Exclude dev and source files
.vscode/**
.github/**
.husky/**
test/**
scripts/**
docs/**
**/*.tsbuildinfo
tsconfig.tsbuildinfo
eslint.config.mjs
vitest.config.ts
**/*.map
.vscode-test/**
out/**
**/node_modules/**
client/src/**
server/src/**
common/src/**
.gitignore
.yarnrc
esbuild.js
**/tsconfig.json
**/*.ts

# AI Prompt
GEMINI.md
